[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "external/kompute"]
	path = external/kompute
	url = https://github.com/KomputeProject/kompute
